.summary-overview-cards-container {
  display: flex;
  width: 80%;
  align-self: center;
  margin: 20px 0 50px 0;
  justify-content: center;
}

@media (min-width: 640px) {
  .summary-overview-cards-container .overview-card:first-child {
    margin-right: 80px;
  }
}

@media (max-width: 639px) {
  .summary-overview-cards-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .summary-overview-cards-container .overview-card:first-child {
    margin-bottom: 30px;
  }
}

.summary-container-sup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  width: 80%;
}

.summary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  margin: 20px 50px 0 50px;
  padding: 0px 20px 0px 20px;
  background-color: var(--opaque-grey)
}

.summary-farming {
  margin-bottom: 50px;
}