* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  position: relative;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

a, button, input {
  all: unset;
}

h1, h2, h3, p {
  all: unset;
}