.heroCustomBackdrop {
  background: rgb(189, 139, 215);
  background: linear-gradient(
    175deg,
    rgba(189, 139, 215, 1) 23%,
    rgba(233, 136, 202, 1) 100%
  );
}

.heroHeight-480 {
  height: 480px;
}

.heroSpacer-100 {
  margin-top: 100px;
}

.heroColor {
  color: color(high-contrast);
}

.sectionsPadding {
  padding: 35px 0;
}
